main {
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.icono {
  font-size: 2rem;
  margin-bottom: 10px;
}
